<nav class="col-md-2 d-none d-md-block bg-light">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href={% url 'ple_course' %}>
          <span data-feather="home"></span>
          课程列表
          <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href={% url 'ple_my_course' %}>
          <span data-feather="home"></span>
          我的课程
            <span class="sr-only"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="book"></span>
          资源查询
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="calendar"></span>
          教学活动
        </a>
      </li>
    </ul>
  </div>
</nav>