{% extends "base_cms.html" %} 
{% block title %}成绩列表{% endblock %} 
{% block content %}
<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">学号</th>
        <th scope="col">姓名</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
        {% for member in members%}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{member.sno}}</td>
            <td>{{member.name}}</td>
            <td><a href="{% url 'grade_show' course_id=course_id member_id=member.id %}">查看成绩</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %} 