<nav class="col-md-2 d-none d-md-block bg-light">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'assignment' %}">
          <span data-feather="edit"></span>
          作业管理
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers"></span>
          测验考试
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="star"></span>
          问券调查
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="user-check"></span>
          投票管理
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="life-buoy"></span>
          协同创作
        </a>
      </li>
    </ul>
  </div>
</nav>