{% extends "base_tams.html" %} 
{% block title %}作业完成情况{% endblock %} 
{% block content %}
<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">作业代码</th>
        <th scope="col">作业标题</th>
        <th scope="col">学号</th>
        <th scope="col">姓名</th>
        <th scope="col">提交时间</th>
        <th scope="col">得分</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
        {% for solution in solutions%}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{solution.assignment.code}}</td>
            <td>{{solution.assignment.title}}</a></td>
            <td>{{solution.sno}}</td>
            <td>{{solution.name}}</td>
            <td>{{solution.created}}</td>
            <td>{{solution.score}}</td>
            <td><a href="{% url 'solution_show' solution_id=solution.id %}">详细情况</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %} 